%h1 #{current_admin_user.username}'s HOME

%h2= link_to 'my page', tweet_path(current_admin_user.id)

- @tweets.reverse.each do |tweet|
	%h2= tweet.title + '   :   ' + tweet.content
	%p #{tweet.username} at #{tweet.created_at} id:#{tweet.id}
