%div{id: "wrapper"}
	%h1 User page
	- @username = params[:username]

	%section{id: "content"}
		%section{id: "left"}
			%p User : #{@username}
			%p Current User : #{current_admin_user.username}

			//%p user id : #{current_admin_user.id} or #{@userid}
			%p= link_to 'HOME', '/tweets/index'
			%p= link_to 'my page', '/tweets/show/' + current_admin_user.username
			%p= link_to 'log out', destroy_admin_user_session_path 

			%h2{id: "not_open"} follow user's
			%div
				- @follows.each do |f|
					%p= link_to f.username + "'s page", f.username
			%h2{id: "not_open"} All user's
			%div
				- @AllUsers.each do |u|
					%p= link_to u.username + "'s page", u.username
		%section{id: "right"}
			- if params[:username] == current_admin_user.username
				%h2= link_to 'new tweet', '/tweets/new/'+ @username
			- elsif @followed == false
				%h2= link_to 'follow', '/tweets/create_follow/' + @username
			- else
				%h2= link_to 'remove follow', '/tweets/remove_follow/' + @username

			- @tweets.reverse_each do |tweet|
				%h2{id: "open"} #{tweet.title}
				%p= tweet.content
